.listHeader {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 1rem;
}

.listHeader h5 {
    font-weight: 400;
    margin-right: 1rem;
}
.listHeader a {
    color: var(--text-color2);
    cursor: pointer;
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4rem;
    margin: 3rem 5rem;
}

.listItem ul {
    list-style-type: disc;  
    padding: 0;
    font-weight: 300;
    align-self: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listBorder {
    align-self: left;
    width: 100%;
    padding-top: 2rem;
    border-bottom: 0.15rem dotted var(--accent-color);
}

#aboutSkills h5, #aboutNext h5 {
    color: var(--text-color2);
}

.listSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: left;
}

#about{
    clip-path: polygon(
      0 0, /* left top */
      100% 0, /* right top */ 
      100% 99%, /* right bottom */
      0 98% /* left bottom */
    );
  }

  .container {
    margin-top: 1.5rem;
  }

@media (width < 62rem)  {
    .listItem {
        padding: 0 2rem;
        margin: 2rem 1rem;
    }
}

@media (width < 42rem )  {
    .listItem {
        padding: 0 2rem;
        margin: 2rem 0rem;
    }
    .listHeader h5{
        font-size: 1rem;
    }
    .listItem ul {
        font-size: 1rem;
    }
}

@media (width < 36rem )  {
    .container {
      max-width: 96%;
    }
    
    #aboutSkills .listItem ul {
        font-size: 0.9rem;
    }
    #aboutNext .listItem ul {
        font-size: 0.9rem;
    }
}