.listHeader {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 1rem;
}

.listHeader h5 {
    font-weight: 400;
    margin-right: 1rem;
}
.listHeader a {
    font-weight: 400;
    color: var(--text-color2);
    margin-right: 1rem;
    cursor: pointer;
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4rem;
    margin: 3rem 5rem;
}

.listItem ul {
    list-style-type: disc;  
    padding: 0;
    font-weight: 300;
    align-self: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.listBorder {
    align-self: left;
    width: 100%;
    padding-top: 2rem;
    border-bottom: 0.15rem dotted var(--accent-color);
}

#aboutSkills h5 {
    color: var(--text-color2);
}

#aboutSkills ul {
    font-weight:300;
}

.listSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: left;
}
