
  header {
    transition: top 500ms ease-in-out;
  }
  header.scroll-up {
    visibility: visible;
    top: 0;
  }
  header.scroll-down {
    top: -100%;
  }

  #fake {
    display: inline-block;
    color: var(--text-color);
    animation: blink 0.6s steps(2, start) infinite;
  }
  
  .shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .shadow:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transform: translateY(-2px); 
  }
  
  .shadow:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(1px);
    transition: box-shadow 0.1s ease, transform 0.1s ease;
  }

  #name {
    animation: fade-in-bottom 0.5s ease-in-out both;
  }

  .appear {
    animation: fade-in-bottom 0.8s ease-in-out 50ms both;
  }

  #typeTest{
    animation: fade-in-bottom 0.5s ease-in-out 100ms both;
  }

  #heroBackground {
    animation: slideUp 1s ease-out forwards;
  }
    
  #scrollButton {
    animation: fade-in-bottom 0.5s ease-in-out 50ms both;
  }

  #scrollButton:hover {
    color: var(--text-color2);
  }

  #scrollButton:hover .arrow,
  #scrollButton:focus .arrow {
    margin: 0.2rem;
    animation: bounce-top 1.5s ease-in-out infinite both;
 }

   
 nav li a {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(var(--text-color2), var(--text-color2));
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

nav li a:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

#logoHero {
  -webkit-animation: fadeout 1.5s linear forwards;
  animation: fadeout 1.5s linear forwards;
  opacity: 1;
}

@-webkit-keyframes fadeout {
  to { opacity: 0; }
}

@keyframes fadeout {
  to { opacity: 0; }
}

  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  
  
  @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  