#aboutHome{
    clip-path: polygon(
      0 0, /* left top */
      100% 0, /* right top */ 
      100% 100%, /* right bottom */
      0 92% /* left bottom */
    );
  }
  #projectsHome {
    clip-path: polygon(
      0 0, /* left top */
      100% 0, /* right top */ 
      100% 94%, /* right bottom */
      0 100% /* left bottom */
    );
  }
  
  #contact {
    clip-path: polygon(
      0 0, /* left top */
      100% 0, /* right top */ 
      100% 100%, /* right bottom */
      0 90% /* left bottom */
    );
  }

  #heroBackground {
    height:50%;
  }
  
  #scrollButton {
    font-size: var(--text-xl);
  }

  .card {
    max-width: 36rem;
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: var(--background-color);
  }

  
  @media (width < 36rem ) {
    #name, #typeTest {
      padding-left: 2rem;
    } 
  
    .container {
      max-width: 80%;
    }
  }  