  #projectsHome {
    clip-path: polygon(
      0 0, /* left top */
      100% 5%, /* right top */ 
      100% 95%, /* right bottom */
      0 100% /* left bottom */
    );
  }
  
  footer {
    clip-path: polygon(
      0  0, /* left top */
      100% 50%, /* right top */ 
      100% 100%, /* right bottom */
      0 100% /* left bottom */
    );
  }

  #techIcons svg:hover {
    color: var(--text-color2);
  }

  #heroBackground {
    height:50%;
  }

  .card {
    max-width: 32rem;
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: var(--background-color);
  }


  
  @media (width < 36rem ) {
    #name, #typeTest {
      padding-left: 2rem;
    } 
  
    .container {
      max-width: 80%;
    }
  }  

  @media (min-width: 1280px) {
    .card {
      width: 33%;
    }
  }