footer {
    clip-path: polygon(
      0 40%, /* left top */
      100% 0, /* right top */ 
      100% 100%, /* right bottom */
      0 100% /* left bottom */
    );
 
}

#projects {
  scroll-snap-type: y mandatory;
}
#proj1 #proj2 #proj3 #proj4 {
  scroll-snap-align: start;
}

html {
  scroll-padding-top: 5rem;

}