@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 100 800;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/font.woff2) format('woff2');
}

:root {
  font-family:  "Anek Devanagari", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 :root.light {
  --text-color: #422f2f;
  --text-color2: #a0421d;
  --background-color: #eee5c3;
  --button-color: #87c1da;
  --accent-color: #dfb38a;
}

:root.dark {
  --text-color: #f2faef;
  --text-color2: #f3c18f;
  --background-color: #011936;
  --button-color: #465362;
  --accent-color: #72a5a2;
}

:root, :root.black {
  --text-color: #FFFFFF;
  --text-color2: #dbdada;
  --background-color: #141414;
  --button-color: #D3D3D3;
  --accent-color: #707070;
}

:root.white {
  --text-color: #000000;
  --text-color2: #413d3a;
  --background-color: #f5f3eb;
  --button-color: #D3D3D3;
  --accent-color: #d0cdc8;
}

:root.blue {
  --text-color: #20156e;
  --text-color2: #ffb875;
  --background-color: #9378bd;
  --button-color: #dee6e9;
  --accent-color: #cb99b7;
}

#scrollButton {
  font-size: var(--text-xl);
  font-weight: 300;
  opacity: 50%;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  accent-color: var(--accent-color);
}

.header {
  display: flex;
  flex-direction: row; 
  width: 100%;
  padding-left: 3rem;
  padding-right: 3.5rem;
  padding-top: 1.2rem;
  padding-bottom: 0.5rem;
  z-index: 999; 
  background-color: var(--background-color); 
  top: 0; 
}

.header a, .header ul {
  font-weight: 550;
}

header a:hover {
  color: var(--text-color2);
}

.footerMain a:hover {
  color: var(--background-color);
  transition: color 0.1s ease-in-out;
}


.footerAlt a:hover, .footerAlt button:hover {
  color: var(--accent-color);
  transition: color 0.1s ease-in-out;
}

.footerMain .footerAbout {
  height: 2.5rem;
}

footer {
  display: flex; 
  flex-direction: row;
  justify-content: space-between; 
  padding-bottom: 0.5rem; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  z-index: 999; 
  bottom: 0; 
  width: 100%;
}

footer a {
  color: var(--text-color);
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  cursor: pointer;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: var(--text-7xl);
  line-height: var(--tw-leading, var(--text-4xl--line-height) );
  font-weight: 500;
}
h3 {
  font-size: var(--text-4xl);
  line-height: var(--tw-leading, var(--text-3xl--line-height) );
  font-weight: 500;
  color: var(--text-color2);
}
h4 {
  font-size: var(--text-3xl);
  line-height: var(--tw-leading, var(--text-3xl--line-height) );
  font-weight: 400;
  color: var(--text-color2);
}
h5 {
  font-size: var(--text-2xl);
  line-height: var(--tw-leading, var(--text-xl--line-height) );
}

#number, #number.off {
  visibility: hidden;
}

#number.on {
  visibility: visible;
}


.button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-size: 1.125rem; 
  z-index: 50; 
  color: var(--text-color); 
  font-weight: 500;
  padding: 0.5rem 1.2rem;
  border-radius: 0.25rem;
  transition: filter 0.2s ease-in-out;
  cursor: pointer;
}
  
  .button:hover {
    filter: brightness(105%); 
  }
  
  .button:active {
    filter: brightness(95%); 
  }






.container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100%; 
  margin-left: auto;
  margin-right: auto;
  font-size: 1.35rem; 
}


@media (width < 85rem ) {
  h2 {
    font-size: var(--text-6xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h4 {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height) );
  }
  h5 {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height) );
  }
  

  .container {
    max-width: 87%;
    font-size: 1.15rem;
  }
  }

@media (width < 64rem ) {
  h2 {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height) );
  }

  #scrollButton {
    font-size: var(--text-lg);
  }

  .header {
    padding-right: 2.5rem;
  }

  .container {
    max-width: 80%;
  }
}

@media (width < 48rem ) {
  .header {
    padding-right: 1.25rem;
  }

 
}

@media (width < 53rem ) {
  h2 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }



}

@media (width < 42rem ) {
  h2 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
}

@media (width < 36rem ) {
  h2 {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height) );
  }
  h4 {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height) );
  }
  h5 {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-xl--line-height) );
  }


}

@media (width < 26rem ) {

  h2 {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height) );
  }
  h4 {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-xl--line-height) );
  }

}