@import "tailwindcss";

:root {
  font-family:  "Lato", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root, :root.light {
  --text-color: #422f2f;
  --text-color2: #9b5326;
  --background-color: #eee5c3;
  --button-color: #87c1da;
  --accent-color: #daaf87
}

:root.dark {
  --text-color: #eac890;
  --text-color2: #e2a355;
  --background-color: #28212b;
  --button-color: #c06e48;
  --accent-color: #7c86a0;
}

:root.black {
  --text-color: #FFFFFF;
  --text-color2: #d4d4d4;
  --background-color: #141414;
  --button-color: #D3D3D3;
  --accent-color: #A9A9A9;
}

:root.white {
  --text-color: #000000;
  --text-color2: #636363;
  --background-color: #eeeeee;
  --button-color: #D3D3D3;
  --accent-color: #c5c5c5;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  accent-color: var(--accent-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a:hover {
  color: var(--text-color2);
}

h2 {
  font-size: var(--text-7xl);
  line-height: var(--tw-leading, var(--text-4xl--line-height) );
}
h3 {
  font-size: var(--text-6xl);
  line-height: var(--tw-leading, var(--text-3xl--line-height) );
}

#about {
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 98% /* left bottom */
  );
}
#projects {
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 96%, /* right bottom */
    0 100% /* left bottom */
  );
}

#heroBackground {
  height: 49.6%;
}

#scrollButton {
  font-size: var(--text-xl);
}


@media (width < 80rem ) {
  h2 {
    font-size: var(--text-6xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  #heroBackground {
    height: 51%
  }
  
  }

@media (width < 66rem ) {
  h2 {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height) );
  }
  #heroBackground {
    height: 52.7%
  }
  #scrollButton {
    font-size: var(--text-lg);
  }  
}
@media (width < 53rem ) {
  h2 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height) );
  }
  #heroBackground {
    height: 54.3%
  }
  #scrollButton {
    font-size: var(--text-md);
  }
}

@media (width < 40rem ) {
  h2 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height) );
  }
  #heroBackground {
    height: 55.3%
  }
}

@media (width < 36rem ) {
  h2 {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-1xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height) );
  }
  #heroBackground {
    height: 55.9%
  }
}

