@import "tailwindcss";

:root {
  font-family:  "Anek Devanagari", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root, :root.light {
  --text-color: #422f2f;
  --text-color2: #a0421d;
  --background-color: #eee5c3;
  --button-color: #87c1da;
  --accent-color: #dfb38a;
}

:root.dark {
  --text-color: #eac890;
  --text-color2: #eea142;
  --background-color: #28212b;
  --button-color: #c06e48;
  --accent-color: #42495a;
}

:root.black {
  --text-color: #FFFFFF;
  --text-color2: #c9c9c9;
  --background-color: #141414;
  --button-color: #D3D3D3;
  --accent-color: #707070;
}

:root.white {
  --text-color: #000000;
  --text-color2: #616161;
  --background-color: #fffefe;
  --button-color: #D3D3D3;
  --accent-color: #c7c6c6;
}

:root.blue {
  --text-color: #024157;
  --text-color2: #ffffff;
  --background-color: #a0d6e4;
  --button-color: #D3D3D3;
  --accent-color: #52adc9;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  accent-color: var(--accent-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header a:hover {
  color: var(--text-color2);
}

footer a:hover {
  color: var(--background-color);
  transition: color 0.1s ease-in-out;
}

h2 {
  font-size: var(--text-7xl);
  line-height: var(--tw-leading, var(--text-4xl--line-height) );
  font-weight: 500;
}
h3 {
  font-size: var(--text-4xl);
  line-height: var(--tw-leading, var(--text-3xl--line-height) );
  font-weight: 500;
}

#number, #number.off {
  visibility: hidden;
}

#number.on {
  visibility: visible;
}


#about {
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 92% /* left bottom */
  );
}
#projects {
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 94%, /* right bottom */
    0 100% /* left bottom */
  );
}

#contact {
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 90% /* left bottom */
  );
}

#heroBackground {
  height:50%;
}

#scrollButton {
  font-size: var(--text-xl);
}

.container {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; 
  justify-content: flex-start;
  height: 100%; 
  margin-left: auto;
  margin-right: auto;
  font-size: 1.35rem; 
}
.card {
  max-width: 36rem;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: var(--background-color);
}




@media (width < 80rem ) {
  h2 {
    font-size: var(--text-6xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  #heroBackground {
    height: 51.4%
  }
  .container {
    max-width: 60rem;
    font-size: 1.2rem;
  }
  }

@media (width < 66rem ) {
  h2 {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height) );
  }
  #heroBackground {
    height: 52.6%
  }
  #scrollButton {
    font-size: var(--text-lg);
  }  
  .container {
    max-width: 48rem;
    font-size: 1.125rem;
  }
}
@media (width < 53rem ) {
  h2 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height) );
  }
  #heroBackground {
    height: 54%
  }

  .container {
    max-width: 36rem;
    
  }
}

@media (width < 42rem ) {
  h2 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height) );
  }
  h3 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height) );
  }
  #heroBackground {
    height: 54.7%
  }
  .container {
    max-width: 28rem;
    font-size: 1rem;
  }
}

@media (width < 36rem ) {
  #name, #typeTest {
    padding-left: 2rem;
  } 

}

